.userActions {
  display: flex;
  align-items: center;
  margin-left: 2.5rem;

  a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #090129;
    text-decoration: none;
    margin-left: 20px;

    i {
      margin-right: 8px;
    }
  }
}
