.nav {
  margin-right: 4rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #090129;
      }
    }
  }
}
